// Text Colors
$red-text: #FF1F10;
$green-text: #86C995;
$black-text: #0E0000;

// Buttons:
$white-background: #ffffff;
$red-border: #FF1F10;
$black-border: #0E0000;


// Backgrounds:
$white: #ffffff;
$pink: #FFC3AD;
$dark-green: #125538;
$black: #0E0000;


// NOT OUR COLORS:
$light-gray: #ffffff;
$gray: #ffffff;
$blue: #0404ff;
$green: #0b7908;
$yellow: #fbff2c;
$red: #ff2c2c;
$orange: #ff7e33;
