// Text Colors
$red-text: #FF1F10;
$green-text: #86C995;
$black-text: #0E0000;

// Buttons:
$white-background: #F5F5F5;
$red-border: #FF1F10;
$black-border: #0E0000;


// Backgrounds:
$white: #F5F5F5;
$pink: #FFC3AD;
$dark-green: #125538;
$black: #0E0000;
