// GENERAL HOMEPAGE

.homepage {
  background-color: white;
}

.main_title {
  font-weight: 400;
  margin: 20px;
}

.step_title {
  font-weight: 500;
}

h1 {
  font-weight: 500;
  size: 40px;
  padding-bottom: 20px;
}

h2 {
  font-size: 16px;
  font-weight: 400;
}

p {
  font-size: 12px;
  font-weight: 300;
}

.arrow_image {
  margin-right: 18px;
  width: 70px;
}
