.button-payment {
  margin: 26px auto 0 auto;
  padding: 11px 29px;
  background-color: white;
  text-decoration: none;
  color: black;
  border-radius: 51px;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid black;
  background-color: #FFC3AD;
}

.center-margin {
  margin-top: 9em;
}

.informations_purchase {
  font-size: 16px;
}

.title_checkout {
  margin-bottom: 36px;
  margin-top: 37px;
}
