.button-payment {
  margin: 10px auto 0 auto;
  padding: 20px 40px;
  background-color: white;
  text-decoration: none;
  color: black;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1.2em;
  border: 1px solid black;
}

.center-margin {
  margin-top: 9em;
}
