.picture_street_new {
  width: 100%;
}

.title_name_new_book {
  margin-left: 30px;
}

.title_planned_new_book {
  text-align: center;
  margin-bottom: 20px;
}

.address-new-book {
  margin-left: 25px;
}

.details-reservation {
  background-color: #FFC3AD;
  width: 110%;
  padding: 25px;
  margin-top: -20px;
  padding-bottom: 407px;
  max-width: 100%;
}

.btn-go-back-map {
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  background-color: $pink;
  margin-top: 50px;
  padding: 20px;
  font-size: 14px;
  font-size: 14px;
  text-decoration: none;
}

.container {
  max-width: 90%;
}

.btn-ready {
  background-color: #ffc0a9;
  text-shadow: #000000;
  color: #000000;
  margin-top: 11px;
  padding: 12px;
  width: 127px;
  display: flex;
  justify-content: center;
  align-self: center;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.688);
}
