<h2><%= garage.address %></h2>
<span class="fw-medium">Width : </span><%= garage.width_in_meters %> - <span class="fw-medium">Length : </span><%= garage.length_in_meters %></p>
<%= link_to "Book this spot !", new_garage_reservation_path(garage, @reservation, until: params[:until]) %>
