<h2><%= garage.address %></h2>
<p>Width: <%= garage.width_in_meters %>, length: <%= garage.length_in_meters %></p>
<%= link_to "Book this spot !", new_garage_reservation_path(garage, @reservation, until: params[:until]) %>
