<div class="container">
  <h1><%= @garage.name %></h1>
  <%= cl_image_tag @garage.photo.key, height: 300, width: 400, crop: :fill %>
  <i class="fa-solid fa-location-dot"></i>
  <i class="fa-solid fa-ruler-vertical"></i>
  <i class="fa-solid fa-ruler-horizontal"></i>
  <i class="fa-solid fa-square-parking"></i>
  <i class="fa-solid fa-tag"></i>
  <i class="fa-solid fa-euro-sign"></i>
</div>
