<div class="body-home">
  <h2 class= "subtitle" >Connect with people</h2>
  <div class="flex">
    <%= link_to "", vans_path, class:"_button"%>
    <%= link_to "",  new_van_path, class:"_button"%>
  </div>
</div>
