.mapboxgl-ctrl-geocoder--input {
  margin-left: 21px;
  border-radius: 30px 30px 30px 30px;
  border: 1px solid black;
  padding: 11px;
  font-size: 11px;
  width: 180%;
}

.mapboxgl-ctrl-geocoder--button,
.mapboxgl-ctrl-geocoder--icon,
.mapboxgl-ctrl-geocoder--icon-loading {
  display: none;
}

.submit_form {
  border-radius: 0 30px 30px 0;
  background-color: black;
  margin-left: -100px;
  border: 0.50px solid black;
  color: white;
  padding: 8px;
  font-size: 9px;
  z-index: 2;
  position: static;
  margin-left: 100px;
  font-size: 16px;
}

.search_button {
  display: flex;
}
