.card-product {
  overflow: hidden;
  height: 230px;
  background: $pink;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 2cqi;
}

.card-product img {
  height: 100%;
  width: 160px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 13px;
  margin: 0;
}

.card-product h3 {
  font-size: 12px;
  font-weight: 500;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 2px;
  margin-top: 8px;
}

.card-product {
  padding: 13px;
}

.card-product-infos {
  padding: 5px 4px 12px 9px;
}

.no-reservations-text {
  font-size: 15px;
  margin-bottom: 20px;
}

.back-to-home {
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  padding: 10px;
  font-size: 14px;
  text-decoration: none;
}

.btn-cancel {
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  padding: 15px;
  font-size: 14px;
  text-decoration: none;
  width: 7px;
}

.btn-cancell {
  border-radius: 30px;
  padding: 6px;
  font-size: 12px;
  text-decoration: none;
  width: 7px;
  background-color: #ffc0a9;
  color: #000000;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.688);
}
