// CARDS
.step_1,
.step_2,
.step_3,
.become_an_owner {
  padding: 10px 10px 10px 20px;
  margin: 10px;
  width: 90%;
  padding-bottom: 30px;
  margin-left: 20px;

  .arrow {
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
  }
}

.step_1 {
  border: 1px solid #000000;
  background-color: $white;
  color: $black-text;
  margin-top: 20px;

  h1 {
    color: black;
  }
}

.step_2 {
  background-color: $pink;
  color: $red-text;

  h1 {
    color: $red-text;
  }
}

.step_3 {
  background-color: $dark-green;
  color: $green-text;

  h1 {
    color: $green-text;
  }
}

.become_an_owner {
  background-color: $black;
  color: $black;
  margin-bottom: 30px;
  font-size: 0.9em;
  padding-top: 30px;

  h1 {
    color: $white;
  }
}
