@keyframes highlight {
  0% {
    background-color: $pink;
    /* Start color */
    transform: scaleX(0);
    /* Initial width */
    transform-origin: left;
    /* Start from the left */
  }

  100% {
    background-color: $pink;
    /* End color */
    transform: scaleX(1);
    /* Full width */
    transform-origin: left;
    /* End at the right */
  }
}

/* Apply the animation to the ::after pseudo-element */
h1::after {
  content: "";
  /* Necessary for ::after to work */
  position: absolute;
  /* Position relative to the h1 element */
  top: 50%;
  /* Adjusted position to center the highlight */
  left: 0;
  width: 100%;
  height: 28%;
  /* Set the height to 25% of the text height */
  margin-top: -1.8%;
  /* Adjusted margin to correct place */
  background-color: $pink;
  /* Initial color */
  z-index: -1;
  animation: highlight 2s ease-out forwards;
  /* Apply animation */
}
