// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "cards";
@import "highlight_h1_animation";
@import "map";
@import "reservation_form";
@import "card_product";
@import "address_autocomplete";
@import "qr_code";


.select_you_parking_spot {
  margin-left: 30px;
}

.when_parking {
  font-size: 24px;
  margin-bottom: 30px;
  display: block;
}

.timing_box {
  padding: 40px;
  margin-top: -40px;
  border-top: 1px solid #000000;
  text-align: center;
  border-radius: 40px 40px 0 0;
  justify-content: center;
  display: flex;
  background-color: $pink;
  flex-wrap: wrap;
  position: absolute;
  z-index: 2;
}

.timing {
  display: block;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 30px;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  width: 100%;
  display: block;
  font-size: 16px;
}

.select_your_time_button {
  display: block;
  margin: 20px auto;
  border-radius: 30px;
  width: 80%;
  background-color: $pink;
  color: rgb(0, 0, 0);
  padding: 13px;
  font-size: 16px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.688);
  text-shadow: #000000;
}

.date_text_timing {
  font-size: 16px;
  display: block;
}
