.mapboxgl-popup {
  max-width: 80px;
}

.mapboxgl-popup-content {
  text-align: left;

  h1 {
    font-family: $headers-font;
    margin-bottom: 5px;
  }

  p {
    font-family: $body-font;
    margin-bottom: 15px;
  }

  a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 30px;
    margin-top: 20px;
    padding: 5px 8px 5px 8px;
  }
}
