.mapboxgl-popup {
  max-width: 100px;
}

.mapboxgl-popup-content {
  text-align: left;
  padding: 20px 15px 25px 15px;

  h1,
  h2 {
    font-family: $headers-font;
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  p {
    font-family: $body-font;
    padding-bottom: 10px;
  }

  a {
    text-decoration: none;
    border-radius: 30px;
    padding: 10px;
    font-size: 1.45em;
    margin-bottom: 20px;
    background-color: #FFC3AD;
    color: #302f2f;
    text-transform: capitalize;
    border: 0.5px solid black;

  }
}
