.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: white;
  align-items: center;
  padding: 0 30px 0 25px;
  margin-top: 20px;
  margin-bottom: 10px;

  a {
    text-decoration: none;
    color: black;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: white;
  align-items: center;
  padding: 0 30px 0 25px;
  margin-top: 20px;
  margin-bottom: 10px;

  a {
    text-decoration: none;
    color: black;
  }
}


.menu-dropdown {
  position: relative;
  font-size: 12px;
  margin-right: 2px
}

.menu-btn {
  color: black;
  font-size: 12px;
  border: 1px solid black;
  border-radius: 130px;
  padding: 4px 26px;
  margin-left: 16px;
  background-color: white;
}

.menu-btn:hover {
  background-color: white;
}

.dropdown-content {
  display: none;
  text-align: center;
  background-color: #ffc3ada0;
  color: black;
  border-radius: 5px;
  top: 100%;
  left: 0;
  font-size: 12px;
}

.dropdown-content a {
  color: black;
  font-size: 12px;
  padding: 8px 33px 6px 10px;
  text-decoration: none;
  margin-top: -9px;
}

.dropdown-content a:hover {
  background-color: lightgray;
}

.menu-dropdown:hover .dropdown-content {
  display: block;
}

.navbar-lewagon .navbar-brand img {
  width: 130px;
}

.dropdown-menu {
  border-color: white;
  padding-bottom: 0 !important;
  --bs-dropdown-min-width: 0;
  ;
}
