.flex-d {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.try_it_out {
  text-align: center;
  margin-top: 20px;
}

.qr-code {
  width: 200px;
}

.text_qr_code {
  margin-top: -10px;
  margin-bottom: 20px;

}
